[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user }}
Group={{ prometheus_group }}
ExecStart={{ prometheus_install_dir }}/prometheus \
  --config.file={{ prometheus_config_file }} \
  --storage.tsdb.path={{ prometheus_data_dir }}

[Install]
WantedBy=multi-user.target
